<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>About Me - Tiny Titans Image Gallery</title>
        <link
            rel="stylesheet"
            th:href="@{/css/styles.css}" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Gallery</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>About Me</h1>
        <p>
            Welcome to my world of miniature artistry, a passion I've been
            nurturing for the past 30 years. My journey began with a simple goal
            - to bring color and life to the wargame table through painted
            figures. Over the years, I've honed my skills to paint with speed,
            yet never compromising on the aesthetic appeal. My miniatures may
            not be Golden Demon award winners, but they are crafted to "look
            good" at arm's length, capturing the essence of their characters and
            the spirit of the game. I firmly believe that the joy of painting
            miniatures lies not in the pursuit of perfection, but in creating
            something that you're happy with and that enhances the gaming
            experience. So, step into my gallery of painted wargame miniatures,
            where every figure tells a story and every battle comes to life.
        </p>
        <footer>&copy; 2024 Tiny Titans Image Gallery</footer>
    </body>
</html>
